h1.centered= title
.container_12
	#fruktkarta.grid_12
	p.centered.info Zooma ut för att hitta alla träd. 
.footer	
	.container_12
		.grid_6
			h2 Kontakt
			.mediablock.clearfix
				.image
					img(src='/images/twitter.png')
				ul.social.content
					li
						a(href='http://www.twitter.com/mryhanen') @mryhanen
					li
						a(href='http://www.twitter.com/leo_wallentin') @leo_wallentin
					li
						a(href='http://www.twitter.com/sasongsmat') @sasongsmat
			.mediablock.clearfix
				.image
					img(src='/images/facebook.png')
				ul.social.content
					li
						a(href='http://www.facebook.com/sasongsmat') Säsongsmat
			.mediablock.clearfix
				.image
					img(src='/images/email.png')
				ul.social.content
					li
						a(href='mailto:mail@sasongsmat.nu') mail@sasongsmat.nu
		.grid_6
			h2 Om fruktkartan.se
			p 
				| fruktkartan.se är en öppen databas med fruktträd. Vem som helst kan lägga till nya träd.
				| Informationen om träden sparas på siten <a href="http://www.säsongsmat.nu">säsongsmat.nu</a> och kommer användas 
				| tillsammans med artiklar och säsongsinformation om frukterna där.
			
		.grid_12
			p.centered
				a(href="http://www.säsongsmat.nu") 
					img(src='https://s3-eu-west-1.amazonaws.com/sasongsmat-1/images/sasongsmat_VAR.png', width='300').
			
include infowindow