extends layout

block content
  ul.articles
    - each recipe in list
      li
        a(href="ssm://recipe/#{recipe.name}").clearfix
          div.img.recipeimage
            - if (recipe.thumb)
              img(src="#{recipe.thumb}")
          h3.name #{recipe.name}
          div(style="background: url(/images/seasonIndicators/#{recipe.s1}) no-repeat").indicator