body {
  font-family: Helvetica, sans-serif;
  color: #000; }

ul.articles {
  width: 320px;
  list-style: none; }
  ul.articles li {
    clear: both;
    border-bottom: 1px solid whiteSmoke;
    padding: 5px 0 5px 5px; }
    ul.articles li a {
      padding-left: 60px;
      padding-right: 20px;
      height: 50px;
      background: url(../images/indicator.png) no-repeat;
      background-position: 99% 16px;
      background-size: 10px 13px;
      position: relative;
      display: block;
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: bold; }
      ul.articles li a h3 {
        white-space: nowrap;
        overflow: hidden; }
      ul.articles li a div.img {
        height: 50px;
        width: 50px;
        overflow: hidden;
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0; }
        ul.articles li a div.img img {
          width: 100px;
          clip: rect(0px 50px 50px 0px); }
      ul.articles li a .indicator {
        width: 230px;
        height: 20px;
        margin-top: 3px; }
  ul.articles .recipeimage {
    background: url(../images/recipe.png) top left no-repeat; }

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after,
.container_12:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container_12 {
  zoom: 1; }
