/* Color scheme */
/*$hilight: #7EAB6A;*/
/*
$dark: #324452;
$link: #F28705;
$hilight: #97BDBF;
$medium: #BF3604;
*/
body {
  background: #fff2de; }

.centered {
  text-align: center; }

h1 {
  /*font-family: 'Pacifico', Sans-serif, cursive;*/
  font-family: 'Leckerli One', Sans-serif, cursive;
  font-size: 64px;
  color: #96bf0d;
  text-shadow: 1px 1px 2px #302b2f;
  margin-bottom: 5px; }

h2 {
  /*font-family: 'Pacifico', Sans-serif, cursive;*/
  font-family: 'Leckerli One', Sans-serif, cursive;
  font-size: 32px;
  color: #ffa600;
  text-shadow: 1px 1px 2px #302b2f; }

h3 {
  color: #302b2f;
  margin-bottom: 15px;
  border-bottom: 1px solid #302B2F; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p.info {
  margin-bottom: 5px;
  font-style: italic;
  margin-bottom: 20px; }

.mediablock .image {
  float: left;
  width: 50px; }
.mediablock .content {
  float: left; }
.mediablock ul li {
  margin-left: 0px; }

ul.social {
  list-style: none; }

#fruktkarta {
  height: 600px; }

#fruktkarta.map_state_adding div {
  cursor: crosshair !important; }

.footer {
  background: #696153;
  color: #eeeeee; }
  .footer a {
    font-size: 16px;
    color: #ffa600; }
  .footer p {
    font-size: 16px; }

.block_link {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: bottom; }

.info_window {
  display: none; }
  .info_window #info_extra {
    width: 85px;
    display: none; }
  .info_window #indicator {
    display: none; }
    .info_window #indicator span {
      color: #96bf0d;
      vertical-align: bottom;
      display: inline-block;
      margin-left: 5px; }
  .info_window div {
    margin-bottom: 5px; }
  .info_window textarea {
    width: 200px;
    height: 100px; }
  .info_window a {
    color: #ffa600; }
  .info_window .info_control {
    text-align: right; }

#AddTreeControl {
  background: url(../images/Tradikon_gron.png) white top center no-repeat;
  margin-top: 15px;
  padding: 33px 5px 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #777;
  cursor: pointer; }

#AddTreeControl.selected {
  border: 1px solid #6ab9fb;
  -moz-box-shadow: 0 0 5px 5px #6ab9fb;
  -webkit-box-shadow: 0 0 5px 5px #6ab9fb;
  box-shadow: 0 0 5px 5px #6ab9fb; }
